/* CSS RESET */

*, *::before, *::after{
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html, body{
	min-height: 100vh;
}

img, picture, svg, video{
	display: block;
	max-width: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}
a{
text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* GENERAL STYLING */

header{
    background: green;
    padding: 3em;
    text-align: center;
    margin-bottom: 0.5em;
}

nav{
    background: rgb(0, 64, 255);
    padding: 1em;
    margin-bottom: 0.5em;
}

nav > ul{
    display: flex;
    justify-content: center;
    gap: 10%;
}
a, h1,h2,h3{
    color: white;
}
main{
    margin-bottom: 0.5em;
}
section{
    background: darkblue;
    text-align: center;
    padding: 10em; 
}

footer{
    background: purple;
    padding: 2em;
    text-align: center;
    margin-bottom: 0.5em;
}

